.admin-item-page {
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px;
}

.admin-item-page__form {
  font-size: 20px;
  letter-spacing: 0.8px;
}

.admin-item-page__form > label, .admin-item-page__form-sizes > div > label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.admit-item-page__image {
  width: 200px;
  margin-top: 20px;
  display: block;
  box-shadow: 0px 0px 31px 18px rgba(99, 99, 99, 0.2);
}

.admin-item-page__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.admin-item-page__button {
  font-family: var(--font-zopa);
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 18px;
  background: #1D252A;
  width: 170px;
  color: #fff;
  transition: all 0.2s;
}

.admin-item-page__button:hover {
  transform: scale(1.1);
  transition: 0.3s;
  text-decoration: underline;
}