@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

@font-face { 
  font-family: "ZopaRegular";
  src: url("./fonts/ZopaRegular/ZopaRegular.eot");
  src: url("./fonts/ZopaRegular/ZopaRegular.eot?#iefix")format("embedded-opentype"),
  url("./fonts/ZopaRegular/ZopaRegular.woff") format("woff"),
  url("./fonts/ZopaRegular/ZopaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

:root {
  --font-oswald: 'Oswald', sans-serif;
  --font-zopa: "ZopaRegular";
  --main-width: 1310px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-oswald);
  background: #FFFFF5;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
}

label {
  display: block;
}

input {
    padding: 4px 11px;
  font-size: 14px;
  line-height: 1.5714285714285714;
  background-color: #ffffff;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.88);
  margin: 0;
  border-style: solid;
  border-color: #d9d9d9;
  border-radius: 6px;
  transition: all 0.2s;
  outline: 0;
}

input:hover {
  border: 1px solid rgb(81, 124, 255);
}

input:focus {
  border: 1px solid rgb(81, 124, 255);
}

.error {
  color: #ff0000;
  font-family: var(--font-oswald);
  position: absolute;
  font-size: 15px;
}

.form__button {
  padding: 0 20px;
  height: 50px;
  display: flex;
  font-size: 20px;
  background: #64ab3d;
  color: #fff;
  border-radius: 9px;
  border: 2px solid #64ab3d;
  align-items: center;
  justify-content: center;
  font-family: var(--font-oswald);
  transition: all 0.2s;
}

.form__button:hover {
  background:#F4F4F2;
  color: #64ab3d;
  transition: 0.2s;
}

.--prevent-scroll {
  overflow: hidden;
}